[Unit]
Description=Continuous Development Service for Ox
Documentation=https://ox.miraheze.org/wiki/ContinuousDevelopmentService

[Service]
Environment=DIGITAL_OCEAN_TOKEN=<authorisation_token>
Environment=LOAD_BALANCER_ID=<balancer_id>
Environment=DROPLET_ID=<droplet_id>
Environment=PYTHONPATH=/home/oxadmin/ox/
Type=oneshot
ExecStart=/home/oxadmin/ox/scripts/cds.sh
